<div class="redirect">
    <div class="container">
        <%= image_tag("demo-logo.png", :alt => "logo", :class => 'logo-redirect') %>
        <h1>Transacción realizada:</h1>
        <p class="payment-info">
            <strong>Monto: </strong>
            <%= @paymentData["amount_in_cents"] %>
            <%= @paymentData["currency"] %>
        </p>
        <p class="payment-info">
            <strong>Status: </strong>
            <%= @paymentData["status"] %>
        </p>
        <p class="payment-info">
            <strong>Fecha: </strong>
            <%= @paymentData["created_at"] %>
        </p>
        <p class="payment-info">
            <strong>Referencia: </strong>
            <%= @paymentData["reference"] %>
        </p>
    </div>
    <%= link_to "Volver a la Demo Store", "/tokenbox_store/index", class: "to-back" %>
</div>